@model PREMIERTeamDbProject.Models.TeamForm
@{
    Layout = "_CMS";
}
<h1>Add Team</h1>

<form asp-controller="CMS" asp-action="AddTeam">
    <div>
        <label asp-for="TeamTitle">Team Title</label>
        <input type="text" asp-for="TeamTitle" />
        <span asp-validation-for="TeamTitle" class="error"></span>
    </div>

    <div>
        <label asp-for="TeamCertificate">Team Certificate</label>
        <input type="text" asp-for="TeamCertificate" />
        <span asp-validation-for="TeamCertificate" class="error"></span>
    </div>

    <div>
        <label asp-for="TeamDescription">Team Description</label>
        <textarea asp-for="TeamDescription"></textarea>
    </div>

    <div>
        <label asp-for="TeamImage">Team Image</label>
        <input asp-for="TeamImage" />
    </div>

    <div>
        <label asp-for="TeamPrice">Team Price</label>
        <input type="text" asp-for="TeamPrice" />
    </div>

    <div>
        <label asp-for="Stars">Stars</label>
        <input type="text" asp-for="Stars" />
    </div>

    <div>
        <label asp-for="ReleaseDate">Release Date</label>
        <input type="date" asp-for="ReleaseDate" />
    </div>

    <div>
        <input type="submit" value="Add" class="add" />
    </div>

</form>