@{
    Layout = "_AlternativeLayout";
}

@{
    ViewData["Title"] = "Home Page";
    ViewData["PageHeading"] = "Welcome";
}
<section class="LogoImage">
    <div>
        <img src="~/images/Premier-League3.png"
             alt="Menu1"
             width="30%"
             id="teamLogo1" />
    </div>
</section>

<section class="wrap">
    <div class="container">
        <main>
            <div class="articles">

                <div>
                    <div>
                        <img src="~/images/Arsenal.jpg"
                             alt="Menu1"
                             width="30%"
                             id="teamLogo1" />
                    </div>
                    <h5> Arsenal </h5>
                    <p>
                        Arsenal Football Club is a professional football club based in Islington, 
                        London, England, that plays in the Premier League, the top flight of English football.
                        The club has won 13 league titles (including one unbeaten title), a record 14 FA Cups, 
                        two League Cups, 16 FA Community Shields.
                    </p>

                </div>

                <div>
                    <div>
                        <img src="~/images/AstonVilla.jpg"
                             alt="Menu2"
                             width="30%"
                             id="teamLogo2" />
                    </div>
                    <h5> AstonVilla </h5>
                    <p>
                        Aston Villa Football Club is an English professional 
                        football club based in Aston, 
                        Birmingham. The club competes in the Premier League ,
                        the top tier of the English football league system .
                        Founded in 1874, they have played at their home ground, 
                        Villa Park , since 1897.
                    </p>

                </div>
                <div>
                    <div>
                        <img src="~/images/BrightonandHoveAlbion.jpg"
                             alt="Menu3"
                             width="30%"
                             id="teamLogo3" />
                    </div>
                    <h5> BrightonandHoveAlbion </h5>
                    <p>
                        The club has missed all our supporters over
                        the past year, and we cannot wait to welcome 
                        you back at the Amex. We know it has been a very 
                        tough year for so many, in so many ways, so that 
                        is why Tony Bloom and 
                        the board want to help as much as we can when it 
                        comes to your season-ticket renewal.
                    </p>

                </div>
                <div>
                    <div>
                        <img src="~/images/Burnsley.jpg"
                             alt="Menu4"
                             width="30%"
                             id="teamLogo4" />
                    </div>
                    <h5> Burnsley </h5>
                    <p>
                        Burnley Football Club ( / ˈbɜːrnli /) is 
                        an English association football club based in Burnley, 
                        Lancashire. Founded on 18 May 1882, it was one of the
                        first to become professional (in 1883),
                        and subsequently put pressure on The Football
                        Association to permit payments to players.
                    </p>

                </div>
                <div>
                    <div>
                        <img src="~/images/Chelsea.jpg"
                             alt="Menu5"
                             width="30%"
                             id="teamLogo5" />
                    </div>
                    <h5> Chelsea </h5>
                    <p>
                        Chelsea Football Club are an English professional 
                        football club based in Fulham, London. Founded in 1905,
                        the club competes in the Premier League, the top division 
                        of English football. Chelsea are among England's
                        most successful clubs, 
                        having won over thirty competitive honours, 
                        including six
                        league titles and six European trophies.
                    </p>

                </div>
                <div>
                    <div>
                        <img src="~/images/CristalPalace.jpg"
                             alt="Menu6"
                             width="30%"
                             id="teamLogo6" />
                    </div>
                    <h5> CristalPalace </h5>
                    <p>
                        Crystal Palace Football Club is a 
                        professional football club based in Selhurst,
                        South London, England, who currently compete 
                        in the Premier League, the highest level of
                        English football. Although their official 
                        founding date is 1905, the club claim to be
                        a continuation of the original amateur Crystal 
                        Palace football club first established in 1861.
                    </p>

                </div>
                <div>
                    <div>
                        <img src="~/images/Everton.jpg"
                             alt="Menu7"
                             width="30%"
                             id="teamLogo7" />
                    </div>
                    <h5> Everton </h5>
                    <p>
                        Everton Football Club is 
                        an English professional football club based 
                        in Liverpool that competes in the Premier League, 
                        the top tier of English football. The club is a 
                        founding member of the Football League and has 
                        competed in the top division for a record 117
                        seasons since the Football League's creation.
                    </p>

                </div>
                <div>
                    <div>
                        <img src="~/images/watford.jpg"
                             alt="Menu8"
                             width="30%"
                             id="teamLogo8" />
                    </div>
                    <h5> Watford </h5>
                    <p>
                        Club Information Watford We are Diamonds
                        and Strings and we are Watford’s wildest
                        Ladies and Gentlemen’s strip club. We are 
                        like no other and we pride ourselves on 
                        providing beautiful Ladies to entertain and delight
                        you whilst offering a sparkling atmosphere
                        that you can appreciate after a hard days work.
                    </p>

                </div>
                <div>
                    <div>
                        <img src="~/images/LeedsUnited.jpg"
                             alt="Menu9"
                             width="30%"
                             id="teamLogo9" />
                    </div>
                    <h5> LeedsUnited </h5>
                    <p>
                        Leeds United Football Club was established
                        in 1919 and Elland Road Stadium has been 
                        'the only place for us' ever since. With a capacity of 37,890, 
                        it is England's 12th largest football 
                        ground and the fourth biggest outside of the Premier League.
                    </p>

                </div>
                <div>
                    <div>
                        <img src="~/images/LeicesterCity.jpg"
                             alt="Menu11"
                             width="30%"
                             id="teamLogo11" />
                    </div>
                    <h5> LeicesterCity </h5>
                    <p>
                        Leicester City Football Club is a professional football 
                        club based in Leicester in the East Midlands, England. 
                        The club competes in the Premier League, the top division 
                        of England's football league system, and plays its home 
                        matches at the King Power Stadium. 
                        The club was founded in 1884 as Leicester Fosse F.C., 
                        playing on a field near Fosse Road.
                    </p>

                </div>
                <div>
                    <div>
                        <img src="~/images/LiverPool.jpg"
                             alt="Menu22"
                             width="30%"
                             id="teamLogo22" />
                    </div>
                    <h5> LiverPool </h5>
                    <p>
                        Liverpool is the home of two of the top football clubs in Britain, 
                        Everton FC and Liverpool FC. The Liverpool FC anthem is You’ll Never Walk Alone,
                        a song which was also recorded by local group Gerry and the Pacemakers. 
                        The city has two cathedrals, one situated at each end of Hope Street.
                    </p>

                </div>
                <div>
                    <div>
                        <img src="~/images/ManchesterCity.jpg"
                             alt="Menu33"
                             width="30%"
                             id="teamLogo33" />
                    </div>
                    <h5> ManchesterCity </h5>
                    <p>
                        Manchester City Football Club is an English football 
                        club based in Manchester that competes in the Premier
                        League, the top flight of English football. Founded
                        in 1880 as St. Mark's (West Gorton), 
                        it became Ardwick Association Football Club in 1887 
                        and Manchester City in 1894.
                    </p>

                </div>
                <div>
                    <div>
                        <img src="~/images/ManchesterUnited.jpg"
                             alt="Menu44"
                             width="30%"
                             id="teamLogo44" />
                    </div>
                    <h5> ManchesterUnited </h5>
                    <p>
                        Manchester United Football Club is
                        a professional football club based in Old Trafford, 
                        Greater Manchester, England, that competes in 
                        the Premier League, the top flight of English 
                        football. Nicknamed "the Red Devils", the club 
                        was founded as Newton Heath LYR Football Club in 1878,
                        changed its name to Manchester United in 1902 and
                        moved to its current stadium, Old Trafford, in 1910.
                    </p>

                </div>
                <div>
                    <div>
                        <img src="~/images/SheffieldUnited.jpg"
                             alt="Menu55"
                             width="30%"
                             id="teamLogo55" />
                    </div>
                    <h5> SheffieldUnited </h5>
                    <p>
                        Sheffield United Football Club is a professional
                        football club in Sheffield,
                        South Yorkshire, England, which competes in the
                        Premier League, the top division of English football. 
                        They formed in 1889, as an offshoot of Sheffield United
                        Cricket Club,and are nicknamed The Blades due 
                        to Sheffield's history of steel production.
                    </p>

                </div>
                <div>
                    <div>
                        <img src="~/images/Southampton.jpg"
                             alt="Menu66"
                             width="30%"
                             id="teamLogo66" />
                    </div>
                    <h5> Southampton </h5>
                    <p>
                        Southampton Football Club
                        ( / saʊθˈ ( h) æmptən / ( listen))
                        is an English professional football club based in Southampton,
                        Hampshire, which plays in the Premier
                        League, the top tier of English football.
                        One of the founding members of the Premier League, 
                        they have spent the majority of their history in 
                        the top fligh
                    </p>

                </div>
                <div>
                    <div>
                        <img src="~/images/swanseaCity.jpg"
                             alt="Menu77"
                             width="30%"
                             id="teamLogo77" />
                    </div>
                    <h5> SwanseaCity </h5>
                    <p>
                        Swansea City Association Football Club (/ ˈswɒnzi /; 
                        Welsh: Clwb Pêl-droed Cymdeithas Dinas Abertawe) 
                        is a Welsh professional football club based in Swansea,
                        Wales that plays in the Championship, the second tier 
                        of English football.
                    </p>

                </div>
                <div>
                    <div>
                        <img src="~/images/WestBromwichAlbion.jpg"
                             alt="Menu88"
                             width="30%"
                             id="teamLogo88" />
                    </div>
                    <h5> WestBromwichAlbion </h5>
                    <p>
                        West Bromwich Albion Football Club 
                        (/ ˈ b r ɒ m ɪ dʒ,-ɪ tʃ /) is an English
                        professional football club based in West Bromwich, 
                        West Midlands, England, that competes in the Premier 
                        League, the top tier of English football.The club was 
                        formed in 1878 and has played at its home ground.
                    </p>

                </div>
                <div>
                    <div>
                        <img src="~/images/WestHamUnited.jpg"
                             alt="Menu99"
                             width="30%"
                             id="teamLogo99" />
                    </div>
                    <h5> WestHamUnited </h5>
                    <p>
                        The official West Ham United website with news, 
                        tickets, shop, live match commentary, highlights,
                        fixtures, results, tables, player profiles,
                        West Ham TV and more... Home | West Ham United |
                        West Ham United We use cookies to improve your
                        browsing experience and help us improve whufc.com.
                    </p>

                </div>
                <div>
                    <div>
                        <img src="~/images/WolverhamptonWanderers.jpg"
                             alt="Menu12"
                             width="30%"
                             id="teamLogo12" />
                    </div>
                    <h5> WolverhamptonWanderers </h5>
                    <p>
                        Wolverhampton Wanderers Football Club ,
                        commonly known as Wolves, is a
                        professional association football 
                        club based in the city of Wolverhampton
                        in the West Midlands, England. Formed as St.
                        Luke's F.C. in 1877, the club has played at
                        Molineux Stadium since 1889 and has been
                        competing in the Premier League, the top 
                        division of English football,
                        
                    </p>

                </div>
                <div>
                    <div>
                        <img src="~/images/millWall.jpg"
                             alt="Menu13"
                             width="30%"
                             id="teamLogo13" />
                    </div>
                    <h5> MillWall </h5>
                    <p>
                        Millwall Football Club 
                        (/ ˈmɪlwɔːl /) is a professional 
                        football club in Bermondsey, 
                        South East London, England. 
                        They compete in the EFL Championship,
                        the second tier of English football.
                        Founded as Millwall Rovers in 1885,
                        the club has retained its name despite 
                        having last played in the Millwall 
                        area of the Isle of Dogs in 1910.
                    </p>

                </div>
                <div>
                    <div>
                        <img src="~/images/TottenhamHotspur.jpg"
                             alt="Menu13"
                             width="30%"
                             id="teamLogo13" />
                    </div>
                    <h5> TottenhamHotspur </h5>
                    <p>
                        Tottenham Hotspur Football Club,
                        commonly referred to as Tottenham
                        (/ ˈtɒtənəm /) or Spurs,
                        is an English professional football
                        club in Tottenham, London,
                        that competes in the Premier League.
                        Originally named Hotspur Football Club,
                        the club was formed on 5 September 1882 by
                        a group of schoolboys led by Bobby Buckle.
                        Founded in 1882.
                    </p>

                </div>
</main>

    </div>

</section>



